 
 body{
 	background-color: #464866;
 }

 h1{
 	font-size: 50px;
 	font-weight: bold;
 	color: white;
 }

 h2{
 	color: white;
 	font-weight: lighter;
 }

.btn-nav{
	margin-top: 30px;
	margin-right: 15px;
	padding: 15px;
	background-color: #2E9CCA;
	color: #D9D9D9;
	font-weight: bold;
}

.btn-nav:hover{
	-webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        color: #D9D9D9;
    }

.container{
	background-color: #464866;
	margin-top:30px;
	border-radius: 2.5%;
}

.panel{
	margin-top:20px;
	background-color: #29648A;
	border-radius: 2.5%;
	height: 500px;
	overflow:scroll;
	border-color: #F5D21F;
}


.navbar{
	background-color: #29648A;
	border-radius: 2.5%;
	padding: 10px;
	margin-top: 10px;
	border-style: ridge;
	border-color: #F5D21F;
	font-family: 'Lato', sans-serif;
}

iframe{
	margin-top: 70px;
	border-color: #F5D21F;

}

a.signup{
	color: #45DE0E;
	text-decoration: none;
	cursor: pointer;
	font-size: 20px;
	margin-left: 12px;

}

.signup:hover{
color: #8EFF80;
}



